# git-ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*.py[oc]
*~
*.bak
*.gladep
*.cache
.settings
.idea
.project
Xrec_check.txt
etc/*_local.py
mxdc/VERSION
docs-src/_build/latex
docs-src/_build/doctrees
fakegir
