numpy
lz4
pyzmq
cryptography
gepics
h5py
hdf5plugin
matplotlib
msgpack
opencv-python
pillow
PyGObject
pyyaml
redis
requests
scipy
twisted
zeroconf
python-magic
pytz
ipython
mxio
lorem
backports-datetime-fromisoformat