numpy
lz4
pyzmq
cryptography
gepics
pyepics
h5py
hdf5plugin
matplotlib
msgpack
opencv-python
pillow
PyGObject
pyyaml
redis
requests
scipy
twisted
zeroconf
python-magic
pytz
ipython
mxio
humanize
lorem
pandas
backports-datetime-fromisoformat
szrpc