.section-box, .tool-box {
    background: rgba(0,0,0,0.08);
}
.section-box > * > label, .section-box > label{
    font-weight: bold;
    margin: 6px;
}

.device-fbk {
    background: rgba(255,255,255,0.75);
    font-weight: bold;
    font-size: 95%;
    border-radius: 0;
}
.value-fbk {
    font-size: 95%;
    font-weight: bold;
}
.value-sp {
    font-size: 95%;
}

.list-action-box {
    background: rgba(0,0,0,0.1);
}

.device-label {
    font-size: 85%;
    font-weight: normal;
    opacity: 0.85;
    font-weight: bold;
}

.arrow-frame {
    border: solid 1px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    background-color: @theme_bg_color;
    border-color: @borders;
}

.arrow-frame:dir(ltr) {
    border-right-width: 0px;
}

.arrow-frame:dir(rtl) {
    border-left-width: 0px;
}

.run-row {
    border-bottom: 1px solid alpha(@borders, 0.4);
}
.run-row.complete label {
    text-decoration-line: line-through;
}
.run-row > .add-tool {
    opacity: 0.5;
}

.hint-text {
    font-size: 90%;
    opacity: .8;
}
.changed {
    color: red;
}
